.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

/* colori
=========== */
.ms--bg-light {
    background-color: #fff;
    color: #031b4e;
}

.ms--bg-primary {
    background-color: #0248ff;
    color: #fff;
}

.ms--bg-blue {
    background-color: #001f9b;
    color: #fff;
}

.ms--bg-gray {
    background-color: #f3f5f9;
    color: #031b4e;
}

.ms--bg-dark {
    background-color: #031b4e;
    color: #fff;
}

/* ===generale=== */

h1, h2, .solutions h4 {
    margin-top: 0;
}

h2{
    font-size: 38px;
    font-weight: 600;
}

p{
    font-size: 20px;
    letter-spacing: 1.2px;
    color: #4e5f83;
    font-weight: 300;
    margin-top: 10px;
}


.container {
    padding-top: 65px;
    padding-bottom: 65px;
    width:100%;
    max-width: 1000px;

}



/*=====HEADER======*/
header {
    position: relative;



}

nav.navbar.navbar-default {
    border: 0;
    border-radius: 0;
    height: 60px;
    background-color: #fff;
    margin-bottom: 0px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 999;


}

.container-fluid {
    padding: 0 20px;
    margin: 0;
    position: relative;

}



.navbar-header {
    height: 60px;
    position: relative;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 40px;
    height: 60px;
}

.navbar-brand img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

img.ms--logo{
    display: none;
}

.ms--dropdown:after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    margin-left: 5px;
}

.navbar-default .navbar-nav>li>a {
    color: #031b4e;
    font-weight: 500;
    position: relative;
    padding: 0;
    margin-left: 15px;
    display: inline-block;
    line-height: 60px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #0248ff;
}

.navbar-toggle{
    border: none;
    position: relative;
    top:6px;

}

a#ms--signup {
    color: #0248ff;
    margin: 0;
    border: 1px solid #0248ff;
    line-height: 30px;
    padding: 2px 15px;
    border-radius: 5px;
}

a#ms--signup:hover{
    background-color:#0248ff;
    color:  #fff;
}

#ms--signup-item {
    position: relative;
    top:30px;
    transform: translateY(-50%);

}

/*=========JUMBO===========*/
.ms--jumbo{
    padding-top: 60px;
}

.ms--jumbo h1 {
    font-size: 40px;
    font-weight: 700;
}

.ms--jumbo p {
    margin-top: 25px;
    margin-bottom: 45px;
    font-weight: 300;
    letter-spacing: 1.2px;
    font-size: 24px;
    opacity: 0.85;
    color: #fff;
}



.ms--form-box {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;

}

.ms--form-box span {
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
}

form input.form-control {
    box-shadow: none;
    border: 0.5px solid lightgray;
    height: 50px;
    color: #031b4e;
    font-size: 18px;
    font-weight: 300px;
}

form input.form-control::placeholder {
    color: #031b4e;
    font-size: 18px;
}

form button.ms--account {
    border: none;
    height: 50px;
    font-weight: 600;
    font-size: 18px;
    background-color: #0069ff;
}

form button.ms--account:hover {
    background-color: #1633ff;
    color: #fff;
    transition: ease 0.4s;
}

.ms--or-line {
    border: 0.5px solid lightgray;
    width: 100%;
    display: inline-block;
    position: relative;
    bottom: 3px;
    transform: translateY(20px);
}

.ms--or {
    display: inline-block;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    height: 30px;
}

.ms--or span {
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
    color: #5e6c89;
    letter-spacing: 1px;
}

.ms--altri-metodi button.ms--account {
    background-color: #f2f8ff;
    color: #031b4e;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #c2dcff;
    height: 50px;
    margin-top: 15px;
}

button.ms--account:hover {
    background-color: #d5e4f7;
    border: 1px solid #c2dcff;
    transition: ease 0.4s;
}

button.ms--account i {
    margin-right: 10px;
}

.ms--form-box .nota {
    display: block;
    margin-top: 25px;
    font-size: 12px;
    color: #707c96;
    font-weight: 300;
    letter-spacing: 1px;
}

.ms--form-box .nota a {
    color: #0248ff;
    text-decoration: underline;
}

/* =====SOLUTIONS======= */
.solutions h4{
    color: #939eb4;
    font-size: 15px;
    letter-spacing: 1.2px;
}

.solutions .ms--company{
    margin-top: 7px;
}

.ms--logo-content img {
    width: 150px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.ms--logo-content {
    height: 100px;
}

.ms--see-business a{
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    color: #0169ff;
}

.ms--see-business a:hover{
    text-decoration: none;
    color:#005fe6;
}

/*=========DEPLOY AND SCALE===========*/

.deploy-scale ul li{
    list-style: none;
    border-left: 2px solid lightgray;
    padding-left: 30px;


}

.deploy-scale ul li:first-of-type{
    border-left: 2px solid #005fe6;

}

.deploy-scale ul{
    padding-left: 0;
    margin-top: 50px;
}

.deploy-scale ul li a{
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1.2px;
    color: #939eb4;
    padding-top: 15px;
    padding-bottom: 15px;
}

.deploy-scale ul li a.ms--v-menu-sel{
    color: #031b4e;
}

.deploy-scale ul li a:hover{
    color: #031b4e;
    text-decoration: none;
    transition: ease 0.4s;
}



/*---*/

.deploy-scale h3, .features h3{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.deploy-scale h3{
    font-weight: 400;
}

.ms--p-small{
    font-size: 16px;
}

.deploy-scale i, .features i{
    font-size: 34px;
    margin-top: 40px;
    color: #005fe6;
}







/*=========Designed for developers===========*/
.designed h2{
    margin-bottom: 20px;
}
.designed img{
    margin-top: 60px;
    border-radius: 5px;
}

.designed figcaption{
    color: #4b5c81;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 300;
}

.ms--pallini{
    margin-top: 25px;
    color: #005fe6;
    font-size: 12px;
}


/*====The features your business needs==== */


.features i{
    margin-top:40px;
}

.features a i{
    font-size: 14px;
    margin-bottom: 15px;
}

.features a{
    display: inline-block;
    text-decoration: none;
    color: #005fe6;
    font-size: 16px;

}


/* =====Service your customers====== */
.ms--table-row {
    border-bottom: 0.5px solid lightgrey;
    padding-bottom: 10px;
    padding-top: 10px;
}

.ms--table-row:last-child{
    border-bottom: 0px;
}

.ms--block-service-1{
    margin-bottom: 50px;
    margin-top: 60px;
}

.service a{
    color: #00d7d2;
}

.service a:hover{
    text-decoration: none;
    color: #005fe6;
}



/* =====love====== */

.love h2{
    margin-bottom: 30px;
}

.love p{
    margin-bottom: 20px;
}

.ms--card{
    border: 0.5px solid lightgray;
    border-radius: 4px;
    padding: 40px 25px;
}

.love .ms--card img{
    width: 180px;
    margin-bottom: 30px;
}

.love cite{
    display: block;
    font-size: 24px;
    font-weight: 200;
    color: #5b6b8c;
    font-style: normal;
    letter-spacing: 1.2px;
}
.love .ms--card span{
    display: block;
    color: #5b6b8c;

}
.ms--name{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
}
.ms--role{
    font-size: 12px;
}

.love a{
    color: #005fe6;
    margin-top: 30px;
    display: block;
    font-size: 16px;
    margin-bottom: 40px;

}
.love a:hover{
text-decoration: none;
}

/* =====get started====== */
.get-started {
    background-image: url('../img/bg-jumbo.jpg');
    background-position: left;
}

.get-started h2{
    font-size: 28px;
    margin-bottom: 30px;
}

.get-started button{
    color: #005fe6;
    background-color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 35px;
}

.get-started button:hover{
    opacity: 0.8;
    color: #005fe6;
    border: none;
}



/*==== FOOTER ====*/


footer.ms--bg-dark{
    background-color: #010e28;
}

footer ul{
    padding-left: 5px;
}

footer ul li{
    list-style: none;

}
.ms-f-title{
    font-weight: 600;

}

footer.ms--bg-dark ul li a{
    color: #7b828f;
    font-weight: 300;
    line-height: 26px;

}

footer.ms--bg-dark ul li:last-of-type{

    margin-bottom: 20px;
}

footer img{
    margin-bottom: 30px;
    width:70px;
}









/* media queries
=================
 */
@media screen and (min-width: 850px) {
    .navbar-default .navbar-nav>li>a {
        margin-left: 40px;
    }
}

@media screen and (min-width: 768px) {
    .ms--jumbo {
        background-image: url('../img/bg-jumbo.jpg');
    }

    .ms--logo-content img {
        width: 100px;
    }

    .ms--copy{
        display: block;
        margin-bottom: 30px;
    }
    .ms--intro-text{

        transform: translateY(50%);
    }

    img.ms--logo{
        display: block;
    }
    img.ms--logo-white{
        display: none;
    }

}

@media screen and (min-width: 992px) {

    .ms--jumbo h1{
        font-size: 60px;
    }
    .ms--block-service-1 .ms--table-row {
        margin-right: 10px;

    }

    .ms--block-service-2 .ms--table-row {
        margin-left: 10px;
        margin-bottom: 0;
    }
    .ms--block-service-2{
        margin-top: 60px;
        margin-bottom:60px;
    }
}

@media screen and (max-width: 767px) {
    nav.navbar.navbar-default{
        background-color: #0248ff;

    }


}
